/* .login-container {
  composes: page-card;
} */

.login-container h1 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #ff6b00;
}

.login-container a {
  display: block;
  margin: 15px 0;
  font-size: 14px;
}
