.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.custom-input {
  width: 100%;
  padding: 12px 45px 12px 45px;
  background-color: #2C2C2C;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 18px;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 20px;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 20px;
}

.user::before { content: '👤'; }
.lock::before { content: '🔒'; }